<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC COURSES - Inscripción completada</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div style="height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;">
    <h1 style="
    height: 100px;
    display: flex;
    color: #00ffe7;
    background: #ffd4008a;
    text-shadow: 1px 1px black;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    align-items: center;
    border-radius: 20px;
">GRACIAS POR INSCRIBIRTE :)</h1>
</div>
</body>
</html>