<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC COURSES - Inscripción completada</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
</head>
<body>
    <div style="height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;">
        <% if (name_student != null) { %>
            <h1 style="
            /* height: 100px; */
            display: flex;
            color: #000000;
            background: #ffd4008a;
            text-shadow: 1px 1px black;
            font-family: 'Source Sans Pro', sans-serif;
            text-align: center;
            align-items: center;
            border-radius: 20px;
            word-wrap: break-word;
            flex-direction: column;
        ">
        ¡Hola, <%= name_student%>! <%= pagoO%></h1>
    <% } else { %>
        
        <h1 style="
        /* height: 100px; */
        display: flex;
        color: #000000;
        background: #ffbb008a;
        text-shadow: 1px 1px black;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        word-wrap: break-word;
        flex-direction: column;
    ">¡Oh, oh! Ocurrió un error, tal vez haya sido tu cédula que no coincide con la base de datos, <a href="/pagos" style="color:aquamarine;">intenta nuevamente</a> o escribe al <a href="https://wa.me/04124662193" style="color:green;">0412-4662193</a></h1>

    <% } %>
</div>
</body>
</html>

