<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Métdos de Pago" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ac-courses.onrender.com/pagos" />
    <meta property="og:image:url" content="https://qph.cf2.quoracdn.net/main-qimg-36823c5b5a0d98565826e13c855115ac-pjlq">
    <!--https://img.freepik.com/free-vector/payment-methods-with-circle_23-2147674741.jpg-->
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Elige un método de pago" />
    <meta property="og:description" content="Especifica el método de pago para el Curso" />
    <title>AC COURSES - Pagos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/pays.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
</head>