<%- include('../headers/header-payout') %>
<body>
    <div style="height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;">
        <% if (name_student != null) { %>
            <h1 style="
            /* height: 100px; */
            display: flex;
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            text-align: center;
            align-items: center;
            border-radius: 20px;
            word-wrap: break-word;
            flex-direction: column;
        ">
        ¡Hola, <%= name_student%>! <%= pagoO %></h1><br>
        <a href="/inscriptions">Inicio</a>
    <% } else { %>
        
       <div class="alert alert-dismissible alert-danger">
  <h4 class="alert-heading">Error</h4>
  <p class="mb-0">¡Oh, oh! Ocurrió un error, tal vez haya sido tu cédula que no coincide con la base de datos, <a href="/pays" style="color:aquamarine;">intenta nuevamente</a> o escribe al <a href="https://wa.me/04124662193">0412-4662193</a></p>
</div>

    <% } %>
</div>
</body>
<script>
    let close = document.querySelector(".btn-close");
    const btnNav = document.querySelector('#btn-nav'),
    collapse = document.querySelector('#navbarColor02');

  btnNav.addEventListener('click', ()=>{
    if(collapse.style.display == 'none'){
        collapse.style.display = 'block';
    }else{
        collapse.style.display = 'none';
    }
    })
</script>
</html>

