<%- include('../headers/header-thanks') %>
<body>
    <div style="height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;">
    <h1 style="
    /* height: 100px; */
        display: flex;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        word-wrap: break-word;
        flex-direction: column;
">Gracias por inscribirte, por favor cancela <a style="color:#00c4ff;" href="/pays" class="btn btn-primary">ahora</a> y así no pierdes tu cupo.</h1>
</div>
<script src="/javascripts/dropdown.js"></script>
</body>
</html>
