<%- include('../headers/header-thanks') %>
<body>
    <div style="height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;">
    <h1 style="
    /* height: 100px; */
        display: flex;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        word-wrap: break-word;
        flex-direction: column;
">GRACIAS POR INSCRIBIRTE :) Si deseas, puedes pagar <a style="color:#00c4ff;" href="/pays">ahora</a></h1>
</div>
</body>
<script>
    const btnNav = document.querySelector('#btn-nav'),
    collapse = document.querySelector('#navbarColor02');

  btnNav.addEventListener('click', ()=>{
    if(collapse.style.display == 'none'){
        collapse.style.display = 'block';
    }else{
        collapse.style.display = 'none';
    }
    })
</script>
</html>
